# build dir and files.
*build*/

# vscode
*.vscode/

# googletest
googletest/

# test data output file
**/tests/**/*.bin
**/tests/**/*.out
**/tests/*.sh

# extern
extern*/

# doxygen
**/doxygen*/
**/Doxyfile

**/*.so
**/tmp_*
**/__pycache__

# psi4
**/*.out
**/*.clean
**/*.dat
