# build dir and files.
*build*/
docs/build*

# vscode
*.vscode/

# googletest
googletest/

# test data output file
**/tests/**/*.bin
**/tests/**/*.out
**/tests/*.sh

# extern
extern*/

**/*.so
**/tmp_*
**/__pycache__

# psi4
**/*.out
**/*.clean
**/*.dat
