# build dir and files.
*build*/

# vscode
*.vscode/

# googletest
googletest/

# test data output file
**/test/data/**/*.xyz
**/test/data/**/*.bin
**/test/data/**/*.inp
**/test/data/**/*.out
**/test/data/*.sh

# extern
extern*/

# doxygen
**/doxygen*/
**/Doxyfile

**/*.so
**/tmp_*
**/__pycache__
